@font-face {
    font-family:demo ;
    src: url(font/Creattion\ Demo.otf);
}
h1, #subtitle {
    font-family: demo;
    font-size: 80pt;
    font-weight: 200;
}   

h1 {
    text-align: center;
}

#button {
    background-color: #95e2b8;
    border:2px solid black;
    border-radius: 5px;
    padding: 25px 30px;
    box-shadow: 0 6px rgba(0, 17, 17, 0.979);
}

#button:hover {
    background-color: #8ad188;
}

#button:active {
    background-color: #8ad188;
    box-shadow: 0 6px rgba(0, 0, 0, 0.527);
    transform: translateX(10px);
}

.result {
    display: none;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;
}

.sectionTabuada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionTabuada__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sectionTabuada__header__item {
    margin: auto;
}

#txtNumber {
    padding: 2px auto;
}

input {
    margin:center;
}

body {
    background-color: #95e2b8;
    margin: 20px;
}

main {
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    text-align: end;
}